<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Perfect_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Perfect_Launcher.Properties.Settings>
            <setting name="bFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Interval1" serializeAs="String">
                <value>1150</value>
            </setting>
            <setting name="Interval2" serializeAs="String">
                <value>3200</value>
            </setting>
            <setting name="LastIndexUsed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bUse64" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundImg" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BackgroundTransparency" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="LastCheckup" serializeAs="String">
                <value />
            </setting>
            <setting name="bCheckedForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrashWatchInterval" serializeAs="String">
                <value>1250</value>
            </setting>
            <setting name="LastGlobalUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceServer" serializeAs="String">
                <value>NENHUM</value>
            </setting>
            <setting name="RevezarContasBtn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProximaContaBtn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ContaAnteriorBtn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="User" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Passwd" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Classe" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ComboQueue" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DailyCheckups" serializeAs="Xml">
                <value>
                    <ArrayOfBoolean xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                    </ArrayOfBoolean>
                </value>
            </setting>
            <setting name="UsersBeforeClosing" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="ExecutavelCustom" serializeAs="String">
                <value />
            </setting>
        </Perfect_Launcher.Properties.Settings>
    </userSettings>
</configuration>
